.header img {
  height: 80px;
}
.header {
  text-align: center;
}
.header nav {
  background-color: black;
  line-height: 40px;
  font-size: 20px;
}
.header nav .link {
  text-decoration: none;
  margin-right: 20px;
  color: white;
  padding: 5px;
}
nav .link:hover {
  background-color: white;
  border-radius: 5px;
  color: rgb(2, 2, 2);
  text-decoration: none;
}
